.homeBackground{
  
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    background-image: url("../Img/homeimg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #aaa;
}

.homeLogo{
  width: 75%;
  height: auto;
  padding-top: 5%;
  
}
.homeCenter1{
 
  font-size: 250%;
}
.homeCenter2{
 
  font-size: 200%;
  padding-bottom: 40%;
}

.bookingBackground{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
    align-items: center;
    background-image: url("../Img/bookingimg.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #aaa;
  padding-top: 5%;
  padding-bottom: 20%;
}

.tripsBackground{
  background-image: url("../Img/tripsimg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
background-size: cover;
  width: 100%;
  height: auto;
   
  color: #444;
 direction: rtl;
 padding-top: 5%;
 
 
}

.vrBackground{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Img/vrimg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #aaa;
}
.userBackground{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../Img/userimg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
background-size: cover;
background-position: center;
color: #aaa;

}

.meBtn {
    border-radius: 25px !important;
    padding-right: 5% !important;
    background-color:#222 ;
    text-align: center;
}
.login {
    width: 40%;
    background-color:#222 ;
    text-align: center;
}

.btn {
    border-radius: 1.50rem !important;
}
.navEdit{
    padding-top: 50px !important;
}

.navLogo{
  background-image: url("../Img/graduation_logo.png");
  background-repeat: no-repeat;
width: 170px;
height: 50px;
}

.fontEdit{
  font-size: 30px;
}

.userEdit{
  padding-top: 10% ;
  padding-bottom: 50%;
  
}

.tripsCard{
  
  text-align: right;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 2%;
}

.tripsLayout{
  padding-bottom: 30%;
}
.labelColor{
  color: #444;
  padding-top: 2%;
}

.tableEdit{
  background-color: #fff !important;

}

@media only screen and (max-width: 768px) {
  .homeCenter1{
 
    font-size: 120%;
  }
  .homeCenter2{
   
    font-size: 90%;
    padding-bottom: 80%;
  }
  .homeLogo{
    width: 90%;
    height: auto;
    padding-top: 25%;

  }
}